.menuCarrinho {
    position: absolute;
    top: 150px;
    right: 20px;
    width: 200px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.h2Carrinho {
    color: black;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}
.itemCarrinho {
    margin-bottom: 10px;
}
.btnPagar {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.btnPagar:hover {
    background-color: #218838;
}