.home {
    min-height: 100vh;
    width: 100%;
  
    background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.35)
      ),
      url("/IMG/background.jpg");
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    background-attachment: fixed;
  }
  .conta-usuario {
    display: flex;
  
    justify-content: flex-end;
  
    align-items: center;
  
    padding: 10px 40px;
  
    background-color: #111;
  
    color: white;
  
    font-size: 16px;
  
    font-weight: 500;
  }
  
  .conta-usuario strong {
    color: #f5c400;
  
    margin-left: 6px;
  
    font-weight: 900;
  
    text-transform: capitalize;
  }